@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --marsilii-primary: #101828;
  --marsilii-background: #fff;
  --marsilii-background-secondary: #f3f4f6;
}

input {
  outline: 0;
}

body {
  font-family: "Test Sohne", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  color: black !important;
  font-size: 16px;
  font-weight: 300;
}

.swiper-pagination-bullet-active {
  background: var(--marsilii-primary) !important;
}
.swiper-pagination-bullet {
  background: var(--marsilii-primary) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--marsilii-primary) !important;
}

.navigation-btn .swiper-button-prev,
.navigation-btn .swiper-button-next {
  top: 40% !important;
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}


/* Stile per lettere accentate */
[data-accent-weight] {
  display: inline;
}

[data-accent-weight="true"] {
  font-weight: 500 !important; /* Imposta il peso desiderato */
}